@media screen and (max-width: 552px) {
  .nav-container {
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  .navbar-logo {
    height: 25px;
  }
  .header-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .theme-user-logout-container {
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
  }
  .user-logout-non-mobile {
    display: none;
  }
  .user-logout-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    margin-left: 5px;
  }
  .logout-icon-dark {
    color: white;
  }
  .menu-light {
    color: #231f20;
  }
  .menu-dark {
    color: #fff;
  }
}
@media screen and (min-width: 552px) {
  .nav-container {
    width: 100%;
    height: 10vh;
    padding: 20px 30px;
  }
  .navbar-logo {
    height: 30px;
  }
  .header-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .theme-user-logout-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }
  .logoutBtn {
    background-color: transparent;
    border: 1px solid #3b82f6;
    color: #3b82f6;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
  }
  .logoutBtn-dark {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
  }
  .user-logout-mobile {
    display: none;
  }
  .user-logout-non-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
  }
}
.dark-nav-bg {
  background-color: #212121;
  width: 100%;
}
.profile-icon-light {
  color: #274c87;
  background-color: white;
  border-radius: 50%;
  border: 0px;
  outline: none;
}
.light-theme {
  color: white;
}
.popup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-container {
  background-color: #231f20;
  border-radius: 6px;
  padding: 15px 40px;
}
.popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.alert-message {
  color: #f9f9f9;
  margin-bottom: 10px;
}
.cancel {
  padding: 6px 10px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d7dfe9;
  color: #d7dfe9;
}
.logout-in-popup {
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  background-color: #3b82f6;
  border: 0;
}
